{% extends 'base.html.twig' %}

{% block title %}Formulaire stagiaire{% endblock %}

{% block body %}
    <main class="container py-3">
        {% if edit %}
            <h1 class="display-5 fw-bold text-body-emphasis mb-5">Information stagiaire</h1>
        {% else %}
            <h1 class="display-5 fw-bold text-body-emphasis mb-5">Ajouter une stagiaire :</h1>
        {% endif %}
        <div class="mainInfo pb-3 d-flex align-items-start">
            <div class="infoForm">
                {{ form_start(formAddStagiaire) }}
                    {{ form_row(formAddStagiaire.nom) }}
                    {{ form_row(formAddStagiaire.prenom) }}
                    {{ form_row(formAddStagiaire.dateNaissance) }}
                    {{ form_row(formAddStagiaire.tel) }}
                    {{ form_row(formAddStagiaire.email) }}
                    {{ form_row(formAddStagiaire.adresse) }}
                    <div class="row">
                        <div class="col-sm">
                            {{ form_row(formAddStagiaire.codePostal) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(formAddStagiaire.ville) }}
                        </div>
                    </div>
                    {{ form_row(formAddStagiaire.valider) }}
                {{ form_end(formAddStagiaire) }}

                {% if edit %}
                    <div class="mb-5 mt-5">
                        <a href="{{ path('delete_stagiaire', {'id': stagiaire.id}) }}">
                            <button class="btn btn-danger">Suprimmer</button>
                        </a>
                    </div>
                {% endif %}
            </div>

            {% if edit %}
                <div class="ms-5">
                    <h3>Inscrit à cette(ces) session(s)</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Formation</th>
                                <th>Intitulé session</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in stagiaire.sessions %}
                                <tr>
                                    <td>{{ session.formation }}</td>
                                    <td>{{ session }}</td>
                                    <td>{{ session.dateDebut | date("d/m/Y") }}</td>
                                    <td>{{ session.dateFin | date("d/m/Y") }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    
    </main>
{% endblock %}