{% extends 'base.html.twig' %}

{% block title %}Lite des sessions{% endblock %}

{% block body %}
    <main class="container p-3">
        <h1 class="display-5 fw-bold text-body-emphasis mb-5">Liste des sessions :</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Formation</th>
                    <th>Intitulé</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Places restantes</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr>
                        <td>{{ session.formation }}</td>
                        <td>{{ session }}</td>
                        <td>{{ session.dateDebut | date("d/m/Y") }}</td>
                        <td>{{ session.dateFin | date("d/m/Y") }}</td>
                        <td>{{ session.placesRestantes }}</td>
                        <td><a href="{{ path('edit_session', {'id': session.id}) }}"><i class="fa-solid fa-circle-info" style="font-size: 150%;"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table class="table">
    </main>
    
{% endblock %}
