{% extends 'base.html.twig' %}

{% block title %}Formulaire session{% endblock %}

{% block body %}
    <main class="container">
        {% if edit %}
            <h1 class="display-5 fw-bold text-body-emphasis mb-5">Information session</h1>
        {% else %}
            <h1 class="display-5 fw-bold text-body-emphasis mb-5">Ajouter une session :</h1>
        {% endif %}

        <div class="mainInfo pb-5  d-flex align-items-start justify-content-between">

            <div class="infoForm">
                {{ form_start(formAddSession) }}
                    {{ form_row(formAddSession.formation) }}
                    {{ form_row(formAddSession.intituleSession) }}
                    {{ form_row(formAddSession.nbPlaces) }}
                    <div class="row">
                        <div class="col-sm">
                            {{ form_row(formAddSession.dateDebut) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(formAddSession.dateFin) }}
                        </div>
                    </div>
                    {# {{ form_row(formAddSession.stagiaires) }} #}
                    {{ form_row(formAddSession.formateur) }}
                    {{ form_row(formAddSession.valider) }}
                {{ form_end(formAddSession) }}

                {% if edit %}
                    <div class="mb-5 mt-5">
                        <a href="{{ path('delete_session', {'id': session.id}) }}">
                            <button class="btn btn-danger">Suprimmer</button>
                        </a>
                    </div>
                {% endif %}
            </div>

            {% if edit %}
                <div class="sideForm d-flex flex-column mb-3">

                    <div class="pb-3">
                        <h3>Inscrire un stagiaire</h3>
                        <ul>
                        {% for stagiaire in stagiaires %}
                            <li><a href="{{ path('add_stagiaire', {'id': session.id, 'stagiaireId':stagiaire.id}) }}"><i class="fa-solid fa-plus"></i></a> {{ stagiaire }}</li>
                        {% endfor %}
                        </ul>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Stagiaires inscrits</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stagiaire in session.stagiaires %}
                                <tr>
                                    <td>{{ stagiaire }}</td>
                                    <td>
                                        <a href="{{ path('remove_stagiaire', {'id': session.id, 'stagiaireId':stagiaire.id}) }}"><i class="fa-solid fa-minus"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div class="sideForm d-flex flex-column">
                        
                    <div class="pb-3">
                        <h3>Ajouter un module</h3>
                        {{ form_start(formAddModule) }}
                            {{ form_row(formAddModule.module) }}
                            {{ form_row(formAddModule.dureeModule) }}
                            {{ form_row(formAddModule.ajouter) }}
                        {{ form_end(formAddModule) }}
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Durée</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for programme in session.programmeSession %}
                                <tr>
                                    <td>{{ programme }}</td>
                                    <td>{{ programme.dureeModule }}h</td>
                                    <td><a href="{{ path('deprogrammer_module', {'id': session.id, 'programmeId':programme.id}) }}"><i class="fa-solid fa-minus"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    
    </main>


{% endblock %}