{% extends 'base.html.twig' %}

{% block title %}Lite des formateurs{% endblock %}

{% block body %}
    <main class="container p-3">
        <h1 class="display-5 fw-bold text-body-emphasis mb-5">Liste des formateurs :</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Ville</th>
                    <th>En charge de la session</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for formateur in formateurs %}
                    <tr>
                        <td>{{ formateur.nom }}</td>
                        <td>{{ formateur.prenom }}</td>
                        <td>{{ formateur.ville }}</td>
                        <td>{{ formateur.currentSession }}</td>
                        <td><a href="{{ path('edit_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-circle-info" style="font-size: 150%;"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table class="table">
    </main>
    
{% endblock %}
